@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: var(--bg-page);
   font-family: var(--font-body);
  line-height: 1.6; 
  
}



.customer-section-layout{
  display: grid;
  grid-template-columns: 280px 0.98fr;
  column-gap: 24px;
  
}

.details-collapsed{
  grid-template-columns:  0 0.98fr;
  column-gap: 0px;
}

.customer-main-section-layout{
  
  grid-template-rows: 120px 1fr;
  

  

}





